<layout>
	<div class="sidebar">

	</div>

	<div class="content">
		<div class="reel-wrapper">
			<div class="reel">
				<div class="frame">
					
				</div>
			</div>
			<ul class="reel-nav">
				<li class="active"></li>
				<li></li>
				<li></li>
				<li></li>
			</ul>
		</div>
		
		<div class="block-2">
			<div class="category"></div>
			<div class="category"></div>
		</div>
		
		<div class="block">
			<div class="block-3">
				<div class="app">
					<div class="left">
						<i class="icon-eniac"></i>
					</div>
					<div class="body">
						<h2>Eniac</h2>
						<h3>Productivity</h3>
					</div>
					<div class="right">
						<div class="button">Open</div>
					</div>
				</div>

				<div class="app">
					<div class="left">
						<i class="icon-finder"></i>
					</div>
					<div class="body">
						<h2>Finder</h2>
						<h3>Productivity</h3>
					</div>
					<div class="right">
						<div class="button">Open</div>
					</div>
				</div>

				<div class="app">
					<div class="left">
						<i class="icon-calendar"></i>
					</div>
					<div class="body">
						<h2>Calendar</h2>
						<h3>Productivity</h3>
					</div>
					<div class="right">
						<div class="button">Open</div>
					</div>
				</div>
			</div>
			
			<div class="block-3">
				<div class="app">
					<div class="left">
						<i class="icon-textedit"></i>
					</div>
					<div class="body">
						<h2>Text Editor</h2>
						<h3>Productivity</h3>
					</div>
					<div class="right">
						<div class="button">Open</div>
					</div>
				</div>

				<div class="app">
					<div class="left">
						<i class="icon-terminal"></i>
					</div>
					<div class="body">
						<h2>Terminal</h2>
						<h3>Productivity</h3>
					</div>
					<div class="right">
						<div class="button">Open</div>
					</div>
				</div>

				<div class="app">
					<div class="left">
						<i class="icon-solitaire"></i>
					</div>
					<div class="body">
						<h2>Solitaire</h2>
						<h3>Games</h3>
					</div>
					<div class="right">
						<div class="button">Open</div>
					</div>
				</div>
			</div>
		</div>

	</div>
</layout>
