<layout>
	<div class="sidebar">

	</div>

	<div class="content">
		<div class="reel-wrapper">
			<div class="reel">
				<div class="frame">
					<div class="layer-1"></div>
					<div class="layer-2"></div>
					<div class="layer-3"></div>
					<div class="layer-4"></div>
				</div>
			</div>
			<ul class="reel-nav">
				<li class="active"></li>
				<li></li>
				<li></li>
				<li></li>
			</ul>
		</div>
		
		<div class="block-2">
			<div class="category"></div>
			<div class="category"></div>
		</div>
		
		<div class="block">
			<div class="block-3">
				<div class="app">
					<div class="left">
						<i class="icon-eniac" style="background-image: url(/app/ant/icons/app-icon-eniac.png);"></i>
					</div>
					<div class="body">
						<h2>Eniac</h2>
						<h3>Productivity</h3>
					</div>
					<div class="right">
						<div class="button">Open</div>
					</div>
				</div>

				<div class="app">
					<div class="left">
						<i class="icon-finder" style="background-image: url(/app/ant/icons/app-icon-finder.png);"></i>
					</div>
					<div class="body">
						<h2>Finder</h2>
						<h3>Productivity</h3>
					</div>
					<div class="right">
						<div class="button">Open</div>
					</div>
				</div>

				<div class="app">
					<div class="left">
						<i class="icon-calendar" style="background-image: url(/app/ant/icons/app-icon-calendar.png);"></i>
					</div>
					<div class="body">
						<h2>Calendar</h2>
						<h3>Productivity</h3>
					</div>
					<div class="right">
						<div class="button">Open</div>
					</div>
				</div>
			</div>
			
			<div class="block-3">
				<div class="app">
					<div class="left">
						<i class="icon-textedit" style="background-image: url(/app/ant/icons/app-icon-textedit.png);"></i>
					</div>
					<div class="body">
						<h2>Text Editor</h2>
						<h3>Productivity</h3>
					</div>
					<div class="right">
						<div class="button">Open</div>
					</div>
				</div>

				<div class="app">
					<div class="left">
						<i class="icon-terminal" style="background-image: url(/app/ant/icons/app-icon-terminal.png);"></i>
					</div>
					<div class="body">
						<h2>Terminal</h2>
						<h3>Productivity</h3>
					</div>
					<div class="right">
						<div class="button">Open</div>
					</div>
				</div>

				<div class="app">
					<div class="left">
						<i class="icon-solitaire" style="background-image: url(/app/ant/icons/app-icon-solitaire.png);"></i>
					</div>
					<div class="body">
						<h2>Solitaire</h2>
						<h3>Games</h3>
					</div>
					<div class="right">
						<div class="button">Open</div>
					</div>
				</div>
			</div>
			
			<div class="block-3">
				<div class="app">
					<div class="left">
						<i class="icon-supermariobros" style="background-image: url(/app/ant/icons/app-icon-supermariobros.png);"></i>
					</div>
					<div class="body">
						<h2>Super Mario Bros</h2>
						<h3>Game</h3>
					</div>
					<div class="right">
						<div class="button">Open</div>
					</div>
				</div>

				<div class="app">
					<div class="left">
						<i class="icon-mines" style="background-image: url(/app/ant/icons/app-icon-mines.png);"></i>
					</div>
					<div class="body">
						<h2>Minesweeper</h2>
						<h3>Game</h3>
					</div>
					<div class="right">
						<div class="button">Open</div>
					</div>
				</div>

				<div class="app">
					<div class="left">
						<i class="icon-iceman" style="background-image: url(/app/ant/icons/app-icon-iceman.png);"></i>
					</div>
					<div class="body">
						<h2>Iceman</h2>
						<h3>Games</h3>
					</div>
					<div class="right">
						<div class="button">Open</div>
					</div>
				</div>
			</div>
			
			<div class="block-3">
				<div class="app">
					<div class="left">
						<i class="icon-goya" style="background-image: url(/app/ant/icons/app-icon-goya.png);"></i>
					</div>
					<div class="body">
						<h2>Goya</h2>
						<h3>Productivity</h3>
					</div>
					<div class="right">
						<div class="button">Open</div>
					</div>
				</div>

				<div class="app">
					<div class="left">
						<i class="icon-2048" style="background-image: url(/app/ant/icons/app-icon-2048.png);"></i>
					</div>
					<div class="body">
						<h2>2048</h2>
						<h3>Game</h3>
					</div>
					<div class="right">
						<div class="button">Open</div>
					</div>
				</div>

				<div class="app">
					<div class="left">
						<i class="icon-spotify" style="background-image: url(/app/ant/icons/app-icon-spotify.png);"></i>
					</div>
					<div class="body">
						<h2>Spotify</h2>
						<h3>Audio</h3>
					</div>
					<div class="right">
						<div class="button">Open</div>
					</div>
				</div>
			</div>
			
			<div class="block-3">
				<div class="app">
					<div class="left">
						<i class="icon-keane" style="background-image: url(/app/ant/icons/app-icon-keane.png);"></i>
					</div>
					<div class="body">
						<h2>Keane</h2>
						<h3>Image Processing</h3>
					</div>
					<div class="right">
						<div class="button">Open</div>
					</div>
				</div>

				<div class="app">
					<div class="left">
						<i class="icon-othello" style="background-image: url(/app/ant/icons/app-icon-othello.png);"></i>
					</div>
					<div class="body">
						<h2>2048</h2>
						<h3>Game</h3>
					</div>
					<div class="right">
						<div class="button">Open</div>
					</div>
				</div>

				<div class="app">
					<div class="left">
						<i class="icon-synth" style="background-image: url(/app/ant/icons/app-icon-synth.png);"></i>
					</div>
					<div class="body">
						<h2>Synth</h2>
						<h3>Audio</h3>
					</div>
					<div class="right">
						<div class="button">Open</div>
					</div>
				</div>
			</div>
		</div>

	</div>
</layout>
